# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# markdown files
CONTENTSTACK_INTEGRATION.md
CONTENTSTACK_LAUNCH_DEPLOYMENT.md
LAUNCH_DEPLOYMENT_CHECKLIST.md
GITHUB_SETUP.md
ENV_SETUP.md
PUSH_TO_GITHUB.md
LIVE_PREVIEW_SETUP.md
LIVE_PREVIEW_CONFIGURATION.md